@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: $color-text;
}

ul {
  list-style: none;
}

input,
button {
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

